/* Style your form elements here */
#jobPostForm {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #3498db;
}

label, input, select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
}

#additionalInfo {
    background-color: transparent;
    color: black;
}


.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    column-count: 2;
  }

  .dropdown-content a {
    display: block;
    margin-bottom: 8px;
  }

  .dropdown-content label {
    display: flex;
    align-items: center;
  }

  .dropdown-content input[type="checkbox"] {
    margin-right: 5px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }